{% extends "./base.html" %} {% block content %}
{% load static %}


<!-- page header -->
<header id="home" class="header">
	
	<div class="header-content container">
		<h2 class="header-title">
			<span class="up">Actualizar el Proyecto!</span>
		</h2>
		<form method="post" novalidate>
			<div class="bg-light p-4 rounded shadow-sm">			
				{% csrf_token %} {{ form.as_p }}	
			</div>
			<button type="submit" value="Update" class="btn btn-primary btn-lg btn-block">
				Actualizar
			</button>
		</form>
		
		  
		
	</div>
</header><!-- end of page header -->

{% endblock %}